@import url(http://fonts.googleapis.com/css?family=Averia+Libre|Open+Sans);

body {
	font-family: "Open Sans";
	min-width: 200px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ccc;
}

#container {
	min-width: 200px;
	max-width: 800px;
	background-color: white;
	padding: 20px 50px 30px 50px;
}

.inline{
	display:inline;
}

.inline-button {
	padding: 0px 5px 0px 5px;
	display:inline;
}

ul {
	list-style-type:none;
}

.big-input{
	padding: 5px 5px 5px 5px;
	font-size: 25px;
}

h1 {
	font-weight: normal;
}