@(words: List[Word], wordForm: Form[Word])

@import helper._

@main("My Word list") {
    
    <h1>@words.size() word(s)</h1>
    
    <ul>
        @for(word <- words) {
            <li>
                @word.label
                
                @form(routes.Application.deleteWord(word.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
    <h2>Add a new word</h2>
    
    @form(routes.Application.newWord()) {
        
        @inputText(wordForm("label")) 
        
        <input type="submit" value="Create">
        
    }
    
}