@(words: List[Word], wordForm: Form[Word])

@import helper._

@main("Google this") {
    
    <h1>Google this later</h1>
    
    <ul>
        @for(word <- words) {
            <li>
                <a href="https://www.google.no/search?q=@word.label">@word.label</a>
                @form(routes.Application.deleteWord(word.id)) {
                    <input type="submit" value="Delete" class="inline-button">
                }
            </li>
        }
    </ul>
    
    @form(routes.Application.newWord()) {
        @inputText( wordForm("label"),args = 'class -> "big-input" ) 
        <input type="submit" value="Create" class="inline-button">
    }
    
}